/**
 * Component Styles.
 *
 * @since 1.0.0
 *
 * @package mm-components
 */
/* Reusables
---------------------------------------------------------------------------------------------------- */
/* Variables
--------------------------------------------- */
/* Mixins
--------------------------------------------- */
/* Global Styles
---------------------------------------------------------------------------------------------------- */
.mm-text-align-left {
  text-align: left;
}

.mm-text-align-center {
  text-align: center;
}

.mm-text-align-justify {
  text-align: justify;
}

.mm-text-align-right {
  text-align: right;
}

.mm-text-transform-uppercase {
  text-transform: uppercase;
}

.mm-text-transform-lowercase {
  text-transform: lowercase;
}

.mm-text-transform-capitalize {
  text-transform: capitalize;
}

.mm-text-color-light {
  color: #999;
}

.mm-text-color-medium {
  color: #666;
}

.mm-text-color-dark {
  color: #333;
}

.mm-bg-color-light {
  background-color: #999;
}

.mm-bg-color-medium {
  background-color: #666;
}

.mm-bg-color-dark {
  background-color: #333;
}

/* Individual Component Styles
---------------------------------------------------------------------------------------------------- */
/* Button
--------------------------------------------- */
/* Default Styles */
a.mm-button {
  display: inline-block;
  padding: 15px 25px;
  border-bottom: none;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  background-color: #99CCCC;
  color: #fff !important;
}

a.mm-button:hover {
  background-color: #55aaaa;
}

a.mm-button:hover {
  text-decoration: none;
}

/* Border Weight */
a.mm-button.ghost.thin, a.mm-button.solid-to-ghost.thin {
  border: 1px solid;
}

a.mm-button.ghost.thick, a.mm-button.solid-to-ghost.thick {
  border: 2px solid;
}

/* Corner Styles */
a.mm-button.rounded {
  border-radius: 5px;
}

a.mm-button.pill {
  border-radius: 50px;
}

/* Button Styles & Colors */
a.mm-button.solid-to-ghost {
  border-color: #99CCCC !important;
}

a.mm-button.solid-to-ghost:hover {
  background-color: transparent;
  color: #99CCCC !important;
}

a.mm-button.gradient {
  background-image: linear-gradient(#99CCCC 0%, #55aaaa 100%);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

a.mm-button.gradient:hover {
  background: #55aaaa;
}

a.mm-button.three-d {
  box-shadow: 0 4px 0 0 #55aaaa;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

a.mm-button.three-d:hover {
  background-color: #77bbbb;
  box-shadow: 0 3px 0 0 #55aaaa;
  transform: translate(0, 1px);
}

a.mm-button.three-d:active {
  box-shadow: 0 0 0 0 #55aaaa;
  transform: translate(0, 4px);
}

a.mm-button.light {
  background-color: #999;
  color: #fff !important;
}

a.mm-button.light:hover {
  background-color: #666666;
}

a.mm-button.light.solid-to-ghost {
  border-color: #999 !important;
}

a.mm-button.light.solid-to-ghost:hover {
  background-color: transparent;
  color: #999 !important;
}

a.mm-button.light.three-d {
  box-shadow: 0 4px 0 0 #666666;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

a.mm-button.light.three-d:hover {
  background-color: gray;
  box-shadow: 0 3px 0 0 #666666;
  transform: translate(0, 1px);
}

a.mm-button.light.three-d:active {
  box-shadow: 0 0 0 0 #666666;
  transform: translate(0, 4px);
}

a.mm-button.light.gradient {
  background-image: linear-gradient(#999 0%, #666666 100%);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

a.mm-button.light.gradient:hover {
  background: #666666;
}

a.mm-button.medium {
  background-color: #666;
  color: #fff !important;
}

a.mm-button.medium:hover {
  background-color: #333333;
}

a.mm-button.medium.solid-to-ghost {
  border-color: #666 !important;
}

a.mm-button.medium.solid-to-ghost:hover {
  background-color: transparent;
  color: #666 !important;
}

a.mm-button.medium.three-d {
  box-shadow: 0 4px 0 0 #333333;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

a.mm-button.medium.three-d:hover {
  background-color: #4d4d4d;
  box-shadow: 0 3px 0 0 #333333;
  transform: translate(0, 1px);
}

a.mm-button.medium.three-d:active {
  box-shadow: 0 0 0 0 #333333;
  transform: translate(0, 4px);
}

a.mm-button.medium.gradient {
  background-image: linear-gradient(#666 0%, #333333 100%);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

a.mm-button.medium.gradient:hover {
  background: #333333;
}

a.mm-button.dark {
  background-color: #333;
  color: #fff !important;
}

a.mm-button.dark:hover {
  background-color: black;
}

a.mm-button.dark.solid-to-ghost {
  border-color: #333 !important;
}

a.mm-button.dark.solid-to-ghost:hover {
  background-color: transparent;
  color: #333 !important;
}

a.mm-button.dark.three-d {
  box-shadow: 0 4px 0 0 black;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

a.mm-button.dark.three-d:hover {
  background-color: #1a1a1a;
  box-shadow: 0 3px 0 0 black;
  transform: translate(0, 1px);
}

a.mm-button.dark.three-d:active {
  box-shadow: 0 0 0 0 black;
  transform: translate(0, 4px);
}

a.mm-button.dark.gradient {
  background-image: linear-gradient(#333 0%, black 100%);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

a.mm-button.dark.gradient:hover {
  background: black;
}

a.mm-button.ghost.thin, a.mm-button.ghost.thick {
  background-color: transparent !important;
  color: #99CCCC !important;
}

a.mm-button.ghost.thin:hover, a.mm-button.ghost.thick:hover {
  background-color: #99CCCC !important;
  border-color: #99CCCC;
  color: #fff !important;
}

a.mm-button.ghost.thin.light, a.mm-button.ghost.thick.light {
  color: #999 !important;
}

a.mm-button.ghost.thin.light:hover, a.mm-button.ghost.thick.light:hover {
  background-color: #999 !important;
  border-color: #999;
  color: #fff !important;
}

a.mm-button.ghost.thin.medium, a.mm-button.ghost.thick.medium {
  color: #666 !important;
}

a.mm-button.ghost.thin.medium:hover, a.mm-button.ghost.thick.medium:hover {
  background-color: #666 !important;
  border-color: #666;
  color: #fff !important;
}

a.mm-button.ghost.thin.dark, a.mm-button.ghost.thick.dark {
  color: #333 !important;
}

a.mm-button.ghost.thin.dark:hover, a.mm-button.ghost.thick.dark:hover {
  background-color: #333 !important;
  border-color: #333;
  color: #fff !important;
}

/* Button Size */
a.mm-button.small {
  padding: 10px 20px;
  font-size: 0.8em;
}

a.mm-button.large {
  padding: 20px 30px;
  font-size: 1.25em;
}

/* Full Width */
a.mm-button.full-width {
  display: block;
}

/* Countdown
--------------------------------------------- */
.mm-countdown {
  text-align: center;
}

.mm-countdown .unit {
  display: inline-block;
  margin-right: 1em;
  margin-bottom: 0;
  text-align: center;
}

@media (min-width: 350px) {
  .mm-countdown:last-child {
    margin-right: 0;
  }
}

.mm-countdown .label {
  display: block;
}

.mm-countdown .count {
  display: block;
  font-size: 30px;
  font-weight: bold;
}

/* Expandable Content
--------------------------------------------- */
.mm-expandable-content-trigger:hover {
  cursor: pointer;
}

.mm-expandable-content-target {
  display: none;
}

/* Icon Box
--------------------------------------------- */
.mm-icon-box {
  position: relative;
  margin-top: 5em;
  padding: 6em 20px 20px 20px;
  border: 1px solid #d6dfe8;
}

.mm-icon-box .mm-icon {
  position: absolute;
  top: -1em;
  left: 50%;
  width: 2em;
  height: 2em;
  margin-left: -1em;
  background-color: #fff;
  border: 1px solid #d6dfe8;
  border-radius: 100%;
  font-size: 4.2em;
  text-align: center;
  line-height: 2em;
}

/* Image Grid
--------------------------------------------- */
.mm-image-grid {
  overflow: hidden;
}

.mm-image-grid.max-in-row-1 .mm-image-grid-image {
  width: 100%;
}

.mm-image-grid.max-in-row-2 .mm-image-grid-image {
  width: 50%;
}

.mm-image-grid.max-in-row-3 .mm-image-grid-image {
  width: 33.33%;
}

.mm-image-grid.max-in-row-4 .mm-image-grid-image {
  width: 25%;
}

.mm-image-grid.max-in-row-5 .mm-image-grid-image {
  width: 20%;
}

.mm-image-grid.max-in-row-6 .mm-image-grid-image {
  width: 16.65%;
}

.mm-image-grid-image {
  text-align: center;
  float: left;
}

.mm-image-grid-image a,
.mm-image-grid-image img {
  display: block;
}

.mm-image-grid-image .caption {
  margin-top: 10px;
}

/* Logo Strip
--------------------------------------------- */
.mm-logo-strip {
  text-align: center;
}

.mm-logo-strip .logo {
  display: inline-block;
  padding: 0 15px 15px;
}

.mm-logo-strip .logo img {
  display: block;
}

/* Hero Banner
--------------------------------------------- */
.mm-hero-banner {
  position: relative;
  padding-left: 0 !important;
  padding-right: 0 !important;
  color: #fff;
  overflow: hidden;
}

.mm-hero-banner:not(:last-child) {
  margin-bottom: 40px !important;
}

.mm-hero-banner h2,
.mm-hero-banner .secondary-cta a,
.mm-hero-banner .secondary-cta a:hover,
.mm-hero-banner.light-text,
.mm-hero-banner.light-text h2,
.mm-hero-banner.light-text .secondary-cta a,
.mm-hero-banner.light-text .secondary-cta a:hover {
  color: #fff !important;
}

.mm-hero-banner.medium-text,
.mm-hero-banner.medium-text h2,
.mm-hero-banner.medium-text .secondary-cta a,
.mm-hero-banner.medium-text .secondary-cta a:hover {
  color: #a8a8a8 !important;
}

.mm-hero-banner.dark-text,
.mm-hero-banner.dark-text h2,
.mm-hero-banner.dark-text .secondary-cta a,
.mm-hero-banner.dark-text .secondary-cta a:hover {
  color: #2A2A2A !important;
}

.mm-hero-banner .color-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 !important;
}

.mm-hero-banner .background-video {
  position: absolute;
  width: 100%;
  height: 100%;
}

.mm-hero-banner .hero-text-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.mm-hero-banner.text-center .hero-text-wrapper {
  text-align: center;
}

.mm-hero-banner .wrapper {
  max-width: 95%;
  min-height: 250px;
  margin: 0 15px;
  padding: 48px 0 36px;
  word-break: break-word;
}

.mm-hero-banner.text-center .wrapper {
  margin: 0 auto;
}

.mm-hero-banner h2 {
  margin-bottom: 14px;
  font-size: 24px;
}

.mm-hero-banner div {
  margin-bottom: 18px;
  font-size: 16px;
}

.mm-hero-banner .secondary-cta {
  margin-top: 1.5em;
  margin-bottom: 0 !important;
}

.mm-hero-banner .secondary-cta a:hover {
  opacity: 0.8;
}

@media (max-width: 599px) {
  .mm-hero-banner .button {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}

@media (min-width: 600px) {
  .mm-hero-banner .wrapper {
    min-height: 400px;
    margin: 0 6%;
    padding: 108px 0 116px;
  }
  .mm-hero-banner h2 {
    margin-bottom: 12px;
    font-size: 30px;
  }
  .mm-hero-banner div {
    margin-bottom: 30px;
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .hero-banner.text-right .wrapper {
    float: right;
  }
}

@media (min-width: 880px) {
  .hero-banner:not(:last-child) {
    margin-bottom: 60px !important;
  }
  .hero-banner .wrapper {
    padding-bottom: 111px;
  }
  .hero-banner p {
    font-size: 20px;
  }
  .hero-banner .button {
    /*font-family: 'Benton Sans Medium', sans-serif;
        font-weight: normal;*/
  }
}

@media (min-width: 1000px) {
  .hero-banner .hero-text-wrapper {
    max-width: 1000px;
    margin: 0 auto;
  }
  .hero-banner .wrapper {
    margin: 0 10px;
    margin: 0 1rem;
  }
}

/* Posts
--------------------------------------------- */
.mm-posts .entry-image {
  max-width: 150px;
  float: left;
  margin: 0 15px 12px 0;
}

.mm-posts .entry-image a {
  display: block;
  opacity: 1;
  transition: opacity 0.2s;
}

.mm-posts .entry-image a:hover {
  opacity: 0.85;
}

.mm-posts .entry-image a img {
  display: block;
}

.mm-posts .entry-meta-wrap {
  clear: both;
}

.mm-posts .pagination-wrap {
  clear: both;
  width: 100%;
}

.mm-posts .pagination-wrap::after {
  content: '';
  display: table;
  width: 100%;
}

.mm-posts .pagination-wrap .pagination-link {
  padding: 4px 10px;
  display: inline-block;
  margin: 0 2px;
}

.mm-posts .pagination-wrap .pagination-link:first-child {
  margin-left: 0;
}

.mm-posts .pagination-wrap .pagination-link:last-child {
  margin-right: 0;
}

.mm-posts .pagination-wrap .pagination-link.prev {
  float: left;
}

.mm-posts .pagination-wrap .pagination-link.next {
  float: right;
}

.mm-posts .pagination-wrap span {
  display: inline-block;
  margin: 0 6px;
}

/* Posts Templates
--------------------------------------------- */
/* Simple List */
.mm-posts.simple-list .mm-post {
  padding: 0;
  margin: 0 0 10px;
}

.mm-posts.simple-list .entry-title {
  display: inline;
  font-size: 20px;
  margin-right: 5px;
}

.mm-posts.simple-list p {
  display: inline;
}

.mm-posts.simple-list .entry-info-wrap {
  font-size: 16px;
  font-style: italic;
}

.mm-posts.simple-list .entry-comments-link,
.mm-posts.simple-list .post-edit-link {
  display: none;
}

/* Image Grid */
.mm-posts.image-grid::after {
  content: '';
  display: table;
  clear: both;
}

.mm-posts.image-grid .mm-post {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  padding: 0;
  position: relative;
}

@media (min-width: 768px) {
  .mm-posts.image-grid .mm-post {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 0;
  }
  .mm-posts.image-grid .mm-post:nth-child(2n) {
    margin-right: 0;
  }
}

.mm-posts.image-grid .entry-image {
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
  margin-right: 0;
}

.mm-posts.image-grid .entry-title {
  line-height: 1.2;
  font-size: 20px;
  float: left;
}

@media (min-width: 480px) {
  .mm-posts.image-grid .entry-title {
    font-size: 24px;
  }
}

.mm-posts.image-grid.titles-inside .mm-post {
  margin-bottom: 0;
}

.mm-posts.image-grid.titles-inside .entry-image {
  margin-bottom: 18px;
}

.mm-posts.image-grid.titles-inside .entry-title,
.mm-posts.image-grid.titles-inside.mm-masonry .entry-title {
  position: absolute;
  bottom: 0;
  margin-bottom: 18px;
  padding: 16px 10px;
  pointer-events: none;
  text-shadow: 0px 1px 0px #000, 0px 1px 2px rgba(0, 0, 0, 0.7);
}

.mm-posts.image-grid.titles-inside .entry-title a {
  color: #fff;
}

.mm-posts.image-grid.titles-inside.no-gutter.mm-masonry .entry-title {
  margin-bottom: 0;
}

.mm-posts.image-grid.no-gutter .mm-post,
.mm-posts.image-grid.no-gutter .entry-image {
  margin: 0;
  padding: 0;
}

.mm-posts.image-grid.no-gutter .entry-title,
.mm-posts.image-grid.mm-masonry .mm-post {
  margin: 0;
}

@media (min-width: 768px) {
  .mm-posts.image-grid.no-gutter .mm-post {
    width: 50%;
    margin: 0;
  }
  .mm-posts.image-grid.mm-masonry .mm-posts-masonry-gutter {
    width: 2%;
  }
  .mm-posts.image-grid.mm-masonry.no-gutter .mm-posts-masonry-gutter {
    width: 0%;
  }
}

/* Social Icons
--------------------------------------------- */
/* Defaults */
.mm-social-icons a {
  text-align: center;
  margin-right: 6px;
  display: inline-block;
}

.mm-social-icons a:last-child {
  margin-right: 0;
}

.mm-social-icons a i.icon {
  margin: 0;
  color: #99CCCC;
  width: 36px;
  height: 36px;
  font-size: 36px;
  line-height: 36px;
}

.mm-social-icons a i.icon:hover {
  color: #55aaaa;
}

/* Styles */
.mm-social-icons.circle a i.icon {
  background-color: #99CCCC;
  color: #fff;
  font-size: 24px;
}

.mm-social-icons.circle a i.icon:hover {
  background-color: #55aaaa;
  color: #fff;
}

.mm-social-icons.circle.light a i.icon {
  background-color: #999;
  color: #fff;
}

.mm-social-icons.circle.light a i.icon:hover {
  background-color: #666666;
  color: #fff;
}

.mm-social-icons.circle.medium a i.icon {
  background-color: #666;
  color: #fff;
}

.mm-social-icons.circle.medium a i.icon:hover {
  background-color: #333333;
  color: #fff;
}

.mm-social-icons.circle.dark a i.icon {
  background-color: #333;
  color: #fff;
}

.mm-social-icons.circle.dark a i.icon:hover {
  background-color: black;
  color: #fff;
}

.mm-social-icons.circle.brand-colors a i.icon.fa-facebook {
  background-color: #3b5998;
  color: #fff;
}

.mm-social-icons.circle.brand-colors a i.icon.fa-facebook:hover {
  background-color: #1e2e4f;
  color: #fff;
}

.mm-social-icons.circle.brand-colors a i.icon.fa-twitter {
  background-color: #00aced;
  color: #fff;
}

.mm-social-icons.circle.brand-colors a i.icon.fa-twitter:hover {
  background-color: #006287;
  color: #fff;
}

.mm-social-icons.circle.brand-colors a i.icon.fa-youtube {
  background-color: #bb0000;
  color: #fff;
}

.mm-social-icons.circle.brand-colors a i.icon.fa-youtube:hover {
  background-color: #550000;
  color: #fff;
}

.mm-social-icons.circle.brand-colors a i.icon.fa-google-plus {
  background-color: #dd4b39;
  color: #fff;
}

.mm-social-icons.circle.brand-colors a i.icon.fa-google-plus:hover {
  background-color: #96271a;
  color: #fff;
}

.mm-social-icons.circle.brand-colors a i.icon.fa-instagram {
  background-color: #125688;
  color: #fff;
}

.mm-social-icons.circle.brand-colors a i.icon.fa-instagram:hover {
  background-color: #061d2e;
  color: #fff;
}

.mm-social-icons.circle.brand-colors a i.icon.fa-pinterest {
  background-color: #cb2027;
  color: #fff;
}

.mm-social-icons.circle.brand-colors a i.icon.fa-pinterest:hover {
  background-color: #731216;
  color: #fff;
}

.mm-social-icons.circle.brand-colors a i.icon.fa-linkedin {
  background-color: #007bb5;
  color: #fff;
}

.mm-social-icons.circle.brand-colors a i.icon.fa-linkedin:hover {
  background-color: #00364f;
  color: #fff;
}

.mm-social-icons.circle.brand-colors a i.icon.fa-vine {
  background-color: #00bf8f;
  color: #fff;
}

.mm-social-icons.circle.brand-colors a i.icon.fa-vine:hover {
  background-color: #005943;
  color: #fff;
}

.mm-social-icons.circle.brand-colors a i.icon.fa-flickr {
  background-color: #ff0084;
  color: #fff;
}

.mm-social-icons.circle.brand-colors a i.icon.fa-flickr:hover {
  background-color: #99004f;
  color: #fff;
}

.mm-social-icons.circle.brand-colors a i.icon.fa-vimeo {
  background-color: #aad450;
  color: #fff;
}

.mm-social-icons.circle.brand-colors a i.icon.fa-vimeo:hover {
  background-color: #749925;
  color: #fff;
}

.mm-social-icons.circle.small a i.icon {
  font-size: 16px;
}

.mm-social-icons.circle.large a i.icon {
  font-size: 30px;
}

.mm-social-icons.circle.ghost a i.icon {
  border-color: #99CCCC;
  color: #99CCCC;
  background-color: transparent;
  font-size: 24px;
  border-width: 1px;
  border-style: solid;
}

.mm-social-icons.circle.ghost a i.icon:hover {
  border-color: #55aaaa;
  color: #55aaaa;
}

.mm-social-icons.circle.ghost.light a i.icon {
  border-color: #999;
  color: #999;
  background-color: transparent;
}

.mm-social-icons.circle.ghost.light a i.icon:hover {
  border-color: #666666;
  color: #666666;
}

.mm-social-icons.circle.ghost.medium a i.icon {
  border-color: #666;
  color: #666;
  background-color: transparent;
}

.mm-social-icons.circle.ghost.medium a i.icon:hover {
  border-color: #333333;
  color: #333333;
}

.mm-social-icons.circle.ghost.dark a i.icon {
  border-color: #333;
  color: #333;
  background-color: transparent;
}

.mm-social-icons.circle.ghost.dark a i.icon:hover {
  border-color: black;
  color: black;
}

.mm-social-icons.circle.ghost.brand-colors a i.icon.fa-facebook {
  border-color: #3b5998;
  color: #3b5998;
  background-color: transparent;
}

.mm-social-icons.circle.ghost.brand-colors a i.icon.fa-facebook:hover {
  border-color: #1e2e4f;
  color: #1e2e4f;
}

.mm-social-icons.circle.ghost.brand-colors a i.icon.fa-twitter {
  border-color: #00aced;
  color: #00aced;
  background-color: transparent;
}

.mm-social-icons.circle.ghost.brand-colors a i.icon.fa-twitter:hover {
  border-color: #006287;
  color: #006287;
}

.mm-social-icons.circle.ghost.brand-colors a i.icon.fa-youtube {
  border-color: #bb0000;
  color: #bb0000;
  background-color: transparent;
}

.mm-social-icons.circle.ghost.brand-colors a i.icon.fa-youtube:hover {
  border-color: #550000;
  color: #550000;
}

.mm-social-icons.circle.ghost.brand-colors a i.icon.fa-google-plus {
  border-color: #dd4b39;
  color: #dd4b39;
  background-color: transparent;
}

.mm-social-icons.circle.ghost.brand-colors a i.icon.fa-google-plus:hover {
  border-color: #96271a;
  color: #96271a;
}

.mm-social-icons.circle.ghost.brand-colors a i.icon.fa-instagram {
  border-color: #125688;
  color: #125688;
  background-color: transparent;
}

.mm-social-icons.circle.ghost.brand-colors a i.icon.fa-instagram:hover {
  border-color: #061d2e;
  color: #061d2e;
}

.mm-social-icons.circle.ghost.brand-colors a i.icon.fa-pinterest {
  border-color: #cb2027;
  color: #cb2027;
  background-color: transparent;
}

.mm-social-icons.circle.ghost.brand-colors a i.icon.fa-pinterest:hover {
  border-color: #731216;
  color: #731216;
}

.mm-social-icons.circle.ghost.brand-colors a i.icon.fa-linkedin {
  border-color: #007bb5;
  color: #007bb5;
  background-color: transparent;
}

.mm-social-icons.circle.ghost.brand-colors a i.icon.fa-linkedin:hover {
  border-color: #00364f;
  color: #00364f;
}

.mm-social-icons.circle.ghost.brand-colors a i.icon.fa-vine {
  border-color: #00bf8f;
  color: #00bf8f;
  background-color: transparent;
}

.mm-social-icons.circle.ghost.brand-colors a i.icon.fa-vine:hover {
  border-color: #005943;
  color: #005943;
}

.mm-social-icons.circle.ghost.brand-colors a i.icon.fa-flickr {
  border-color: #ff0084;
  color: #ff0084;
  background-color: transparent;
}

.mm-social-icons.circle.ghost.brand-colors a i.icon.fa-flickr:hover {
  border-color: #99004f;
  color: #99004f;
}

.mm-social-icons.circle.ghost.brand-colors a i.icon.fa-vimeo {
  border-color: #aad450;
  color: #aad450;
  background-color: transparent;
}

.mm-social-icons.circle.ghost.brand-colors a i.icon.fa-vimeo:hover {
  border-color: #749925;
  color: #749925;
}

.mm-social-icons.circle.ghost.small a i.icon {
  font-size: 16px;
}

.mm-social-icons.circle.ghost.large a i.icon {
  font-size: 30px;
}

.mm-social-icons.circle a i.icon {
  border-radius: 100%;
}

.mm-social-icons.square a i.icon {
  background-color: #99CCCC;
  color: #fff;
  font-size: 24px;
}

.mm-social-icons.square a i.icon:hover {
  background-color: #55aaaa;
  color: #fff;
}

.mm-social-icons.square.light a i.icon {
  background-color: #999;
  color: #fff;
}

.mm-social-icons.square.light a i.icon:hover {
  background-color: #666666;
  color: #fff;
}

.mm-social-icons.square.medium a i.icon {
  background-color: #666;
  color: #fff;
}

.mm-social-icons.square.medium a i.icon:hover {
  background-color: #333333;
  color: #fff;
}

.mm-social-icons.square.dark a i.icon {
  background-color: #333;
  color: #fff;
}

.mm-social-icons.square.dark a i.icon:hover {
  background-color: black;
  color: #fff;
}

.mm-social-icons.square.brand-colors a i.icon.fa-facebook {
  background-color: #3b5998;
  color: #fff;
}

.mm-social-icons.square.brand-colors a i.icon.fa-facebook:hover {
  background-color: #1e2e4f;
  color: #fff;
}

.mm-social-icons.square.brand-colors a i.icon.fa-twitter {
  background-color: #00aced;
  color: #fff;
}

.mm-social-icons.square.brand-colors a i.icon.fa-twitter:hover {
  background-color: #006287;
  color: #fff;
}

.mm-social-icons.square.brand-colors a i.icon.fa-youtube {
  background-color: #bb0000;
  color: #fff;
}

.mm-social-icons.square.brand-colors a i.icon.fa-youtube:hover {
  background-color: #550000;
  color: #fff;
}

.mm-social-icons.square.brand-colors a i.icon.fa-google-plus {
  background-color: #dd4b39;
  color: #fff;
}

.mm-social-icons.square.brand-colors a i.icon.fa-google-plus:hover {
  background-color: #96271a;
  color: #fff;
}

.mm-social-icons.square.brand-colors a i.icon.fa-instagram {
  background-color: #125688;
  color: #fff;
}

.mm-social-icons.square.brand-colors a i.icon.fa-instagram:hover {
  background-color: #061d2e;
  color: #fff;
}

.mm-social-icons.square.brand-colors a i.icon.fa-pinterest {
  background-color: #cb2027;
  color: #fff;
}

.mm-social-icons.square.brand-colors a i.icon.fa-pinterest:hover {
  background-color: #731216;
  color: #fff;
}

.mm-social-icons.square.brand-colors a i.icon.fa-linkedin {
  background-color: #007bb5;
  color: #fff;
}

.mm-social-icons.square.brand-colors a i.icon.fa-linkedin:hover {
  background-color: #00364f;
  color: #fff;
}

.mm-social-icons.square.brand-colors a i.icon.fa-vine {
  background-color: #00bf8f;
  color: #fff;
}

.mm-social-icons.square.brand-colors a i.icon.fa-vine:hover {
  background-color: #005943;
  color: #fff;
}

.mm-social-icons.square.brand-colors a i.icon.fa-flickr {
  background-color: #ff0084;
  color: #fff;
}

.mm-social-icons.square.brand-colors a i.icon.fa-flickr:hover {
  background-color: #99004f;
  color: #fff;
}

.mm-social-icons.square.brand-colors a i.icon.fa-vimeo {
  background-color: #aad450;
  color: #fff;
}

.mm-social-icons.square.brand-colors a i.icon.fa-vimeo:hover {
  background-color: #749925;
  color: #fff;
}

.mm-social-icons.square.small a i.icon {
  font-size: 16px;
}

.mm-social-icons.square.large a i.icon {
  font-size: 30px;
}

.mm-social-icons.square.ghost a i.icon {
  border-color: #99CCCC;
  color: #99CCCC;
  background-color: transparent;
  font-size: 24px;
  border-width: 1px;
  border-style: solid;
}

.mm-social-icons.square.ghost a i.icon:hover {
  border-color: #55aaaa;
  color: #55aaaa;
}

.mm-social-icons.square.ghost.light a i.icon {
  border-color: #999;
  color: #999;
  background-color: transparent;
}

.mm-social-icons.square.ghost.light a i.icon:hover {
  border-color: #666666;
  color: #666666;
}

.mm-social-icons.square.ghost.medium a i.icon {
  border-color: #666;
  color: #666;
  background-color: transparent;
}

.mm-social-icons.square.ghost.medium a i.icon:hover {
  border-color: #333333;
  color: #333333;
}

.mm-social-icons.square.ghost.dark a i.icon {
  border-color: #333;
  color: #333;
  background-color: transparent;
}

.mm-social-icons.square.ghost.dark a i.icon:hover {
  border-color: black;
  color: black;
}

.mm-social-icons.square.ghost.brand-colors a i.icon.fa-facebook {
  border-color: #3b5998;
  color: #3b5998;
  background-color: transparent;
}

.mm-social-icons.square.ghost.brand-colors a i.icon.fa-facebook:hover {
  border-color: #1e2e4f;
  color: #1e2e4f;
}

.mm-social-icons.square.ghost.brand-colors a i.icon.fa-twitter {
  border-color: #00aced;
  color: #00aced;
  background-color: transparent;
}

.mm-social-icons.square.ghost.brand-colors a i.icon.fa-twitter:hover {
  border-color: #006287;
  color: #006287;
}

.mm-social-icons.square.ghost.brand-colors a i.icon.fa-youtube {
  border-color: #bb0000;
  color: #bb0000;
  background-color: transparent;
}

.mm-social-icons.square.ghost.brand-colors a i.icon.fa-youtube:hover {
  border-color: #550000;
  color: #550000;
}

.mm-social-icons.square.ghost.brand-colors a i.icon.fa-google-plus {
  border-color: #dd4b39;
  color: #dd4b39;
  background-color: transparent;
}

.mm-social-icons.square.ghost.brand-colors a i.icon.fa-google-plus:hover {
  border-color: #96271a;
  color: #96271a;
}

.mm-social-icons.square.ghost.brand-colors a i.icon.fa-instagram {
  border-color: #125688;
  color: #125688;
  background-color: transparent;
}

.mm-social-icons.square.ghost.brand-colors a i.icon.fa-instagram:hover {
  border-color: #061d2e;
  color: #061d2e;
}

.mm-social-icons.square.ghost.brand-colors a i.icon.fa-pinterest {
  border-color: #cb2027;
  color: #cb2027;
  background-color: transparent;
}

.mm-social-icons.square.ghost.brand-colors a i.icon.fa-pinterest:hover {
  border-color: #731216;
  color: #731216;
}

.mm-social-icons.square.ghost.brand-colors a i.icon.fa-linkedin {
  border-color: #007bb5;
  color: #007bb5;
  background-color: transparent;
}

.mm-social-icons.square.ghost.brand-colors a i.icon.fa-linkedin:hover {
  border-color: #00364f;
  color: #00364f;
}

.mm-social-icons.square.ghost.brand-colors a i.icon.fa-vine {
  border-color: #00bf8f;
  color: #00bf8f;
  background-color: transparent;
}

.mm-social-icons.square.ghost.brand-colors a i.icon.fa-vine:hover {
  border-color: #005943;
  color: #005943;
}

.mm-social-icons.square.ghost.brand-colors a i.icon.fa-flickr {
  border-color: #ff0084;
  color: #ff0084;
  background-color: transparent;
}

.mm-social-icons.square.ghost.brand-colors a i.icon.fa-flickr:hover {
  border-color: #99004f;
  color: #99004f;
}

.mm-social-icons.square.ghost.brand-colors a i.icon.fa-vimeo {
  border-color: #aad450;
  color: #aad450;
  background-color: transparent;
}

.mm-social-icons.square.ghost.brand-colors a i.icon.fa-vimeo:hover {
  border-color: #749925;
  color: #749925;
}

.mm-social-icons.square.ghost.small a i.icon {
  font-size: 16px;
}

.mm-social-icons.square.ghost.large a i.icon {
  font-size: 30px;
}

.mm-social-icons.rounded-square a i.icon {
  background-color: #99CCCC;
  color: #fff;
  font-size: 24px;
}

.mm-social-icons.rounded-square a i.icon:hover {
  background-color: #55aaaa;
  color: #fff;
}

.mm-social-icons.rounded-square.light a i.icon {
  background-color: #999;
  color: #fff;
}

.mm-social-icons.rounded-square.light a i.icon:hover {
  background-color: #666666;
  color: #fff;
}

.mm-social-icons.rounded-square.medium a i.icon {
  background-color: #666;
  color: #fff;
}

.mm-social-icons.rounded-square.medium a i.icon:hover {
  background-color: #333333;
  color: #fff;
}

.mm-social-icons.rounded-square.dark a i.icon {
  background-color: #333;
  color: #fff;
}

.mm-social-icons.rounded-square.dark a i.icon:hover {
  background-color: black;
  color: #fff;
}

.mm-social-icons.rounded-square.brand-colors a i.icon.fa-facebook {
  background-color: #3b5998;
  color: #fff;
}

.mm-social-icons.rounded-square.brand-colors a i.icon.fa-facebook:hover {
  background-color: #1e2e4f;
  color: #fff;
}

.mm-social-icons.rounded-square.brand-colors a i.icon.fa-twitter {
  background-color: #00aced;
  color: #fff;
}

.mm-social-icons.rounded-square.brand-colors a i.icon.fa-twitter:hover {
  background-color: #006287;
  color: #fff;
}

.mm-social-icons.rounded-square.brand-colors a i.icon.fa-youtube {
  background-color: #bb0000;
  color: #fff;
}

.mm-social-icons.rounded-square.brand-colors a i.icon.fa-youtube:hover {
  background-color: #550000;
  color: #fff;
}

.mm-social-icons.rounded-square.brand-colors a i.icon.fa-google-plus {
  background-color: #dd4b39;
  color: #fff;
}

.mm-social-icons.rounded-square.brand-colors a i.icon.fa-google-plus:hover {
  background-color: #96271a;
  color: #fff;
}

.mm-social-icons.rounded-square.brand-colors a i.icon.fa-instagram {
  background-color: #125688;
  color: #fff;
}

.mm-social-icons.rounded-square.brand-colors a i.icon.fa-instagram:hover {
  background-color: #061d2e;
  color: #fff;
}

.mm-social-icons.rounded-square.brand-colors a i.icon.fa-pinterest {
  background-color: #cb2027;
  color: #fff;
}

.mm-social-icons.rounded-square.brand-colors a i.icon.fa-pinterest:hover {
  background-color: #731216;
  color: #fff;
}

.mm-social-icons.rounded-square.brand-colors a i.icon.fa-linkedin {
  background-color: #007bb5;
  color: #fff;
}

.mm-social-icons.rounded-square.brand-colors a i.icon.fa-linkedin:hover {
  background-color: #00364f;
  color: #fff;
}

.mm-social-icons.rounded-square.brand-colors a i.icon.fa-vine {
  background-color: #00bf8f;
  color: #fff;
}

.mm-social-icons.rounded-square.brand-colors a i.icon.fa-vine:hover {
  background-color: #005943;
  color: #fff;
}

.mm-social-icons.rounded-square.brand-colors a i.icon.fa-flickr {
  background-color: #ff0084;
  color: #fff;
}

.mm-social-icons.rounded-square.brand-colors a i.icon.fa-flickr:hover {
  background-color: #99004f;
  color: #fff;
}

.mm-social-icons.rounded-square.brand-colors a i.icon.fa-vimeo {
  background-color: #aad450;
  color: #fff;
}

.mm-social-icons.rounded-square.brand-colors a i.icon.fa-vimeo:hover {
  background-color: #749925;
  color: #fff;
}

.mm-social-icons.rounded-square.small a i.icon {
  font-size: 16px;
}

.mm-social-icons.rounded-square.large a i.icon {
  font-size: 30px;
}

.mm-social-icons.rounded-square.ghost a i.icon {
  border-color: #99CCCC;
  color: #99CCCC;
  background-color: transparent;
  font-size: 24px;
  border-width: 1px;
  border-style: solid;
}

.mm-social-icons.rounded-square.ghost a i.icon:hover {
  border-color: #55aaaa;
  color: #55aaaa;
}

.mm-social-icons.rounded-square.ghost.light a i.icon {
  border-color: #999;
  color: #999;
  background-color: transparent;
}

.mm-social-icons.rounded-square.ghost.light a i.icon:hover {
  border-color: #666666;
  color: #666666;
}

.mm-social-icons.rounded-square.ghost.medium a i.icon {
  border-color: #666;
  color: #666;
  background-color: transparent;
}

.mm-social-icons.rounded-square.ghost.medium a i.icon:hover {
  border-color: #333333;
  color: #333333;
}

.mm-social-icons.rounded-square.ghost.dark a i.icon {
  border-color: #333;
  color: #333;
  background-color: transparent;
}

.mm-social-icons.rounded-square.ghost.dark a i.icon:hover {
  border-color: black;
  color: black;
}

.mm-social-icons.rounded-square.ghost.brand-colors a i.icon.fa-facebook {
  border-color: #3b5998;
  color: #3b5998;
  background-color: transparent;
}

.mm-social-icons.rounded-square.ghost.brand-colors a i.icon.fa-facebook:hover {
  border-color: #1e2e4f;
  color: #1e2e4f;
}

.mm-social-icons.rounded-square.ghost.brand-colors a i.icon.fa-twitter {
  border-color: #00aced;
  color: #00aced;
  background-color: transparent;
}

.mm-social-icons.rounded-square.ghost.brand-colors a i.icon.fa-twitter:hover {
  border-color: #006287;
  color: #006287;
}

.mm-social-icons.rounded-square.ghost.brand-colors a i.icon.fa-youtube {
  border-color: #bb0000;
  color: #bb0000;
  background-color: transparent;
}

.mm-social-icons.rounded-square.ghost.brand-colors a i.icon.fa-youtube:hover {
  border-color: #550000;
  color: #550000;
}

.mm-social-icons.rounded-square.ghost.brand-colors a i.icon.fa-google-plus {
  border-color: #dd4b39;
  color: #dd4b39;
  background-color: transparent;
}

.mm-social-icons.rounded-square.ghost.brand-colors a i.icon.fa-google-plus:hover {
  border-color: #96271a;
  color: #96271a;
}

.mm-social-icons.rounded-square.ghost.brand-colors a i.icon.fa-instagram {
  border-color: #125688;
  color: #125688;
  background-color: transparent;
}

.mm-social-icons.rounded-square.ghost.brand-colors a i.icon.fa-instagram:hover {
  border-color: #061d2e;
  color: #061d2e;
}

.mm-social-icons.rounded-square.ghost.brand-colors a i.icon.fa-pinterest {
  border-color: #cb2027;
  color: #cb2027;
  background-color: transparent;
}

.mm-social-icons.rounded-square.ghost.brand-colors a i.icon.fa-pinterest:hover {
  border-color: #731216;
  color: #731216;
}

.mm-social-icons.rounded-square.ghost.brand-colors a i.icon.fa-linkedin {
  border-color: #007bb5;
  color: #007bb5;
  background-color: transparent;
}

.mm-social-icons.rounded-square.ghost.brand-colors a i.icon.fa-linkedin:hover {
  border-color: #00364f;
  color: #00364f;
}

.mm-social-icons.rounded-square.ghost.brand-colors a i.icon.fa-vine {
  border-color: #00bf8f;
  color: #00bf8f;
  background-color: transparent;
}

.mm-social-icons.rounded-square.ghost.brand-colors a i.icon.fa-vine:hover {
  border-color: #005943;
  color: #005943;
}

.mm-social-icons.rounded-square.ghost.brand-colors a i.icon.fa-flickr {
  border-color: #ff0084;
  color: #ff0084;
  background-color: transparent;
}

.mm-social-icons.rounded-square.ghost.brand-colors a i.icon.fa-flickr:hover {
  border-color: #99004f;
  color: #99004f;
}

.mm-social-icons.rounded-square.ghost.brand-colors a i.icon.fa-vimeo {
  border-color: #aad450;
  color: #aad450;
  background-color: transparent;
}

.mm-social-icons.rounded-square.ghost.brand-colors a i.icon.fa-vimeo:hover {
  border-color: #749925;
  color: #749925;
}

.mm-social-icons.rounded-square.ghost.small a i.icon {
  font-size: 16px;
}

.mm-social-icons.rounded-square.ghost.large a i.icon {
  font-size: 30px;
}

.mm-social-icons.rounded-square a i.icon {
  border-radius: 5px;
}

/* Colors */
.mm-social-icons.light a i.icon {
  color: #999;
}

.mm-social-icons.light a i.icon:hover {
  color: #666666;
}

.mm-social-icons.medium a i.icon {
  color: #666;
}

.mm-social-icons.medium a i.icon:hover {
  color: #333333;
}

.mm-social-icons.dark a i.icon {
  color: #333;
}

.mm-social-icons.dark a i.icon:hover {
  color: black;
}

.mm-social-icons.brand-colors a i.icon.fa-facebook {
  color: #3b5998;
}

.mm-social-icons.brand-colors a i.icon.fa-facebook:hover {
  color: #1e2e4f;
}

.mm-social-icons.brand-colors a i.icon.fa-twitter {
  color: #00aced;
}

.mm-social-icons.brand-colors a i.icon.fa-twitter:hover {
  color: #006287;
}

.mm-social-icons.brand-colors a i.icon.fa-youtube {
  color: #bb0000;
}

.mm-social-icons.brand-colors a i.icon.fa-youtube:hover {
  color: #550000;
}

.mm-social-icons.brand-colors a i.icon.fa-google-plus {
  color: #dd4b39;
}

.mm-social-icons.brand-colors a i.icon.fa-google-plus:hover {
  color: #96271a;
}

.mm-social-icons.brand-colors a i.icon.fa-instagram {
  color: #125688;
}

.mm-social-icons.brand-colors a i.icon.fa-instagram:hover {
  color: #061d2e;
}

.mm-social-icons.brand-colors a i.icon.fa-pinterest {
  color: #cb2027;
}

.mm-social-icons.brand-colors a i.icon.fa-pinterest:hover {
  color: #731216;
}

.mm-social-icons.brand-colors a i.icon.fa-linkedin {
  color: #007bb5;
}

.mm-social-icons.brand-colors a i.icon.fa-linkedin:hover {
  color: #00364f;
}

.mm-social-icons.brand-colors a i.icon.fa-vine {
  color: #00bf8f;
}

.mm-social-icons.brand-colors a i.icon.fa-vine:hover {
  color: #005943;
}

.mm-social-icons.brand-colors a i.icon.fa-flickr {
  color: #ff0084;
}

.mm-social-icons.brand-colors a i.icon.fa-flickr:hover {
  color: #99004f;
}

.mm-social-icons.brand-colors a i.icon.fa-vimeo {
  color: #aad450;
}

.mm-social-icons.brand-colors a i.icon.fa-vimeo:hover {
  color: #749925;
}

/* Sizes */
.mm-social-icons.small a i.icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
  line-height: 24px;
}

.mm-social-icons.large a i.icon {
  width: 48px;
  height: 48px;
  font-size: 48px;
  line-height: 48px;
}

/* Images */
.mm-social-icons.mm-image-align-left {
  float: left;
}

.mm-social-icons.mm-image-align-center {
  text-align: center;
  margin: 0 auto;
}

.mm-social-icons.mm-image-align-right {
  float: right;
}

.mm-social-icons a img {
  display: block;
}

.mm-social-icons a:hover {
  opacity: 0.85;
  transition: opacity 0.2s;
}

.mm-social-icons.normal-size a img {
  width: 36px;
}

.mm-social-icons.small a img {
  width: 24px;
}

.mm-social-icons.large a img {
  width: 48px;
}

/*# sourceMappingURL=mm-components-public.css.map */