/**
 * Component Styles.
 *
 * @since 1.0.0
 *
 * @package mm-components
 */

/**
 * Global Styles
 */

.mm-text-align-left {
	text-align: left;
}

.mm-text-align-center {
	text-align: center;
}

.mm-text-align-justify {
	text-align: justify;
}

.mm-text-align-right {
	text-align: right;
}

/**
 * Individual Component Styles
 */

/**
 * Countdown
 */
.mm-countdown .unit {
	display: inline-block;
	margin-right: 1em;
	margin-bottom: 0;
	text-align: center;
}

.mm-countdown .count,
.mm-countdown .label {
	display: block;
}

.mm-countdown .count {
	font-size: 30px;
	font-weight: bold;
}

@media (min-width: 350px) {

	.mm-countdown .unit:last-child {
		margin-right: 0;
	}
}

/**
 * Expandable Content
 */
.mm-expandable-content-trigger:hover {
	cursor: pointer;
}

.mm-expandable-content-target {
	display: none;
}

.mm-expandable-content-target.open {
	display: block;
}

/**
 * Icon Box
 */
.mm-icon-box {
	position: relative;
	margin-top: 5em;
	padding: 6em 20px 20px 20px;
	border: 1px solid #d6dfe8;
}

.mm-icon-box .mm-icon {
	position: absolute;
	top: -1em;
	left: 50%;
	width: 2em;
	height: 2em;
	margin-left: -1em;
	background-color: #fff;
	border: 1px solid #d6dfe8;
	border-radius: 100%;
	font-size: 4.2em;
	text-align: center;
	line-height: 2em;
}

/**
 * Image Grid
 */
.mm-image-grid {
	overflow: hidden;
}

.mm-image-grid.max-in-row-1 .mm-image-grid-image {
	width: 100%;
}

.mm-image-grid.max-in-row-2 .mm-image-grid-image {
	width: 50%;
}

.mm-image-grid.max-in-row-3 .mm-image-grid-image {
	width: 33.33%;
}

.mm-image-grid.max-in-row-4 .mm-image-grid-image {
	width: 25%;
}

.mm-image-grid.max-in-row-5 .mm-image-grid-image {
	width: 20%;
}

.mm-image-grid.max-in-row-6 .mm-image-grid-image {
	width: 16.65%;
}

.mm-image-grid-image {
	text-align: center;
	float: left;
}

.mm-image-grid-image a,
.mm-image-grid-image img {
	display: block;
}

.mm-image-grid-image .caption {
	margin-top: 10px;
}

/**
 * Logo Strip
 */
.mm-logo-strip {
	text-align: center;
}

.mm-logo-strip .logo {
	display: inline-block;
	padding: 0 15px 15px;
}

.mm-logo-strip .logo img {
	display: block;
}

/**
 * Posts
 */
.mm-posts .entry-image {
	max-width: 150px;
	float: left;
	margin: 0 15px 12px 0;
}

.mm-posts .entry-image a,
.mm-posts .entry-image a img {
	display: block;
}

.mm-posts .entry-meta-wrap {
	clear: both;
}
