/**
 * Component Styles.
 *
 * @since 1.0.0
 *
 * @package mm-components
 */

/**
 * Global Styles
 */

.mm-text-align-left {
	text-align: left;
}

.mm-text-align-center {
	text-align: center;
}

.mm-text-align-justify {
	text-align: justify;
}

.mm-text-align-right {
	text-align: right;
}

/**
 * Individual Component Styles
 */

/**
 * Expandable Content
 */
.mm-expandable-content-trigger:hover {
	cursor: pointer;
}

.mm-expandable-content-target {
	display: none;
}

.mm-expandable-content-target.open {
	display: block;
}

/**
 * Icon Box
 */
.mm-icon-box {
	position: relative;
	margin-top: 5em;
	padding: 6em 20px 20px 20px;
	border: 1px solid #d6dfe8;
}

.mm-icon-box .mm-icon {
	position: absolute;
	top: -1em;
	left: 50%;
	width: 2em;
	height: 2em;
	margin-left: -1em;
	background-color: #fff;
	border: 1px solid #d6dfe8;
	border-radius: 100%;
	font-size: 4.2em;
	text-align: center;
	line-height: 2em;
}

/**
 * Logo Strip
 */
.mm-logo-strip {
	text-align: center;
}

.mm-logo-strip .logo {
	display: inline-block;
	padding: 0 15px 15px;
}

.mm-logo-strip .logo img {
	display: block;
}

/**
 * Posts
 */
.mm-posts .entry-image {
	max-width: 150px;
	float: left;
	margin: 0 15px 12px 0;
}

.mm-posts .entry-image a,
.mm-posts .entry-image a img {
	display: block;
}

.mm-posts .entry-meta-wrap {
	clear: both;
}
