/**
 * Mm Components Admin CSS
 *
 * @since  1.0.0
 */
/* Reusables
---------------------------------------------------------------------------------------------------- */
/* Mixins
--------------------------------------------- */
/* Utility Classes
--------------------------------------------- */
.mm-description-text {
  font-style: italic;
  color: #8D9194;
}

.mm-hidden {
  display: none;
}

/* Widget fields
---------------------------------------------------------------------------------------------------- */
/* Button Preview field
--------------------------------------------- */
.mm-button-preview-wrap {
  text-align: center;
}

/* Single media upload field
--------------------------------------------- */
.mm-single-media-wrap {
  display: block;
}

.mm-single-media-wrap .mm-single-media-image-preview-wrap {
  max-width: 100%;
  padding: 0;
  display: block;
}

.mm-single-media-wrap .mm-single-media-image-preview-wrap.no-image .mm-single-media-image-preview {
  display: none;
}

.mm-single-media-wrap .mm-single-media-image-preview-wrap.no-image .mm-single-media-no-image {
  display: block;
}

.mm-single-media-wrap .mm-single-media-image-preview {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 10px;
  border-radius: 2px;
  border: 0;
}

.mm-single-media-wrap .mm-single-media-no-image {
  display: none;
  border: 1px solid #eee;
  line-height: 20px;
  text-align: center;
  padding: 12px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: border-color 0.3s;
}

.mm-single-media-wrap .mm-single-media-no-image:hover {
  border-color: #999;
}

/* Multi media upload field
--------------------------------------------- */
.mm-multi-media-wrap {
  display: block;
}

.mm-multi-media-wrap::after {
  content: '';
  display: table;
  width: 100%;
}

.mm-multi-media-wrap .mm-multi-media-images-preview-wrap {
  max-width: 100%;
  padding: 0;
  display: block;
}

.mm-multi-media-wrap .mm-multi-media-images-preview-wrap::after {
  content: '';
  display: table;
  width: 100%;
}

.mm-multi-media-wrap .mm-multi-media-images-preview-wrap.no-images .multi-media-images-preview {
  display: none;
}

.mm-multi-media-wrap .mm-multi-media-images-preview-wrap.no-images .mm-multi-media-no-images {
  display: block;
}

.mm-multi-media-wrap .mm-multi-media-no-images {
  display: none;
  border: 1px solid #eee;
  line-height: 20px;
  text-align: center;
  padding: 12px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: border-color 0.3s;
}

.mm-multi-media-wrap .mm-multi-media-no-images:hover {
  border-color: #999;
}

.mm-multi-media-wrap .mm-multi-media-images-preview {
  display: block;
  max-width: 100%;
  width: 49%;
  margin-right: 2%;
  float: left;
  height: auto;
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 10px;
  border-radius: 2px;
  border: 0;
}

.mm-multi-media-wrap .mm-multi-media-images-preview:hover {
  border-color: #999;
}

.mm-multi-media-wrap .mm-multi-media-images-preview:nth-child(2n + 1) {
  margin-right: 0;
}

/*# sourceMappingURL=mm-components-admin.css.map */