.vc_autocomplete-input input {
	display: inline-block !important;
}

.vc_autocomplete-label {
	float: left;
}

span.vc_autocomplete-label {
	padding-right: 20px;
}

span.post-type-label {
	font-weight: bold;
	text-transform: capitalize;
	margin-right: 2px;
}

.wpb_element_label {
	text-transform: none;
}