/**
 * Component Styles.
 *
 * @since 1.0.0
 *
 * @package mm-components
 */

/* Reusables
---------------------------------------------------------------------------------------------------- */

/* Variables
--------------------------------------------- */

$default-color: #99CCCC;
$light-color: #999;
$medium-color: #666;
$dark-color: #333;
$black-color: #121212;
$white-color: #fff;

$facebook-color: #3b5998;
$twitter-color: #00aced;
$youtube-color: #bb0000;
$google-plus-color: #dd4b39;
$instagram-color: #125688;
$pinterest-color: #cb2027;
$linkedin-color: #007bb5;
$vine-color: #00bf8f;
$flickr-color: #ff0084;
$vimeo-color: #aad450;

$thin-border: 1px solid;
$default-border: 2px solid;
$thick-border: 3px solid;


/* Mixins
--------------------------------------------- */

@mixin clearfix {
	content: '';
	display: table;
	width: 100%;
}

@mixin button-color($color) {
	background-color: $color;
	color: #fff !important;
	&:hover {
		background-color: darken($color, 20%);
	}
}

@mixin solid-to-ghost-button-color($color) {
	border-color: $color !important;
	&:hover {
		background-color: transparent;
		color: $color !important;
	}
}

@mixin ghost-button-hover-color($color) {
	background-color: $color !important;
	border-color: $color;
	color: #fff !important;
}

@mixin three-d-button-color($color) {
	box-shadow: 0 4px 0 0 darken($color, 20%);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	&:hover {
		background-color: darken($color, 10%);
		box-shadow: 0 3px 0 0 darken($color, 20%);
		transform: translate(0, 1px);
	}
	&:active {
		box-shadow: 0 0 0 0 darken($color, 20%);
		transform: translate(0, 4px);
	}
}

@mixin gradient-button-color($color) {
	background-image: linear-gradient($color 0%, darken($color, 20%) 100%);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	&:hover {
		background: darken($color, 20%);
	}
}

@mixin social-icon-background-colors($color) {
	background-color: $color;
	color: #fff;
	&:hover {
		background-color: darken($color, 20%);
		color: #fff;
	}
}

@mixin social-icon-ghost-colors($color) {
	border-color: $color;
	color: $color;
	background-color: transparent;
	&:hover {
		border-color: darken($color, 20%);
		color: darken($color, 20%);
	}
}

@mixin social-icon-colors($color) {
	color: $color;
	&:hover {
		color: darken($color, 20%);
	}
}

@mixin social-icon-sizes($size) {
	width: $size;
	height: $size;
	font-size: $size;
	line-height: $size;
}

@mixin social-image-sizes($size) {
	width: $size;
}

@mixin social-icons-with-backgrounds {
	a i.icon {
		@include social-icon-background-colors($default-color);
		font-size: 24px;
	}
	&.light {
		a i.icon {
			@include social-icon-background-colors($light-color);
		}
	}
	&.medium {
		a i.icon {
			@include social-icon-background-colors($medium-color);
		}
	}
	&.dark {
		a i.icon {
			@include social-icon-background-colors($dark-color);
		}
	}
	&.brand-colors {
		a i.icon {
			&.fa-facebook {
				@include social-icon-background-colors($facebook-color);
			}
			&.fa-twitter {
				@include social-icon-background-colors($twitter-color);
			}
			&.fa-youtube {
				@include social-icon-background-colors($youtube-color);
			}
			&.fa-google-plus {
				@include social-icon-background-colors($google-plus-color);
			}
			&.fa-instagram {
				@include social-icon-background-colors($instagram-color);
			}
			&.fa-pinterest {
				@include social-icon-background-colors($pinterest-color);
			}
			&.fa-linkedin {
				@include social-icon-background-colors($linkedin-color);
			}
			&.fa-vine {
				@include social-icon-background-colors($vine-color);
			}
			&.fa-flickr {
				@include social-icon-background-colors($flickr-color);
			}
			&.fa-vimeo {
				@include social-icon-background-colors($vimeo-color);
			}
		}
	}
	&.small {
		a i.icon {
			font-size: 16px;
		}
	}
	&.large {
		a i.icon {
			font-size: 30px;
		}
	}
}

@mixin social-icons-with-ghost {
	a i.icon {
		@include social-icon-ghost-colors($default-color);
		font-size: 24px;
		border-width: 1px;
		border-style: solid;
	}
	&.light {
		a i.icon {
			@include social-icon-ghost-colors($light-color);
		}
	}
	&.medium {
		a i.icon {
			@include social-icon-ghost-colors($medium-color);
		}
	}
	&.dark {
		a i.icon {
			@include social-icon-ghost-colors($dark-color);
		}
	}
	&.brand-colors {
		a i.icon {
			&.fa-facebook {
				@include social-icon-ghost-colors($facebook-color);
			}
			&.fa-twitter {
				@include social-icon-ghost-colors($twitter-color);
			}
			&.fa-youtube {
				@include social-icon-ghost-colors($youtube-color);
			}
			&.fa-google-plus {
				@include social-icon-ghost-colors($google-plus-color);
			}
			&.fa-instagram {
				@include social-icon-ghost-colors($instagram-color);
			}
			&.fa-pinterest {
				@include social-icon-ghost-colors($pinterest-color);
			}
			&.fa-linkedin {
				@include social-icon-ghost-colors($linkedin-color);
			}
			&.fa-vine {
				@include social-icon-ghost-colors($vine-color);
			}
			&.fa-flickr {
				@include social-icon-ghost-colors($flickr-color);
			}
			&.fa-vimeo {
				@include social-icon-ghost-colors($vimeo-color);
			}
		}
	}
	&.small {
		a i.icon {
			font-size: 16px;
		}
	}
	&.large {
		a i.icon {
			font-size: 30px;
		}
	}
}

/* Global Styles
---------------------------------------------------------------------------------------------------- */

.mm-text-align-left {
	text-align: left;
}

.mm-text-align-center {
	text-align: center;
}

.mm-text-align-justify {
	text-align: justify;
}

.mm-text-align-right {
	text-align: right;
}

.mm-text-transform-uppercase {
	text-transform: uppercase;
}

.mm-text-transform-lowercase {
	text-transform: lowercase;
}

.mm-text-transform-capitalize {
	text-transform: capitalize;
}

.mm-font-weight-light {
	font-weight: 300;
}

.mm-font-weight-normal {
	font-weight: 500;
}

.mm-font-weight-semi-bold {
	font-weight: 600;
}

.mm-font-weight-bold {
	font-weight: 700;
}

.mm-text-color-light,
.mm-text-color-light a,
.mm-text-color-light a:visited {
	color: $light-color;
}

.mm-text-color-medium,
.mm-text-color-medium a,
.mm-text-color-medium a:visited {
	color: $medium-color;
}

.mm-text-color-dark,
.mm-text-color-dark a,
.mm-text-color-dark a:visited {
	color: $dark-color;
}

.mm-text-color-black,
.mm-text-color-black a,
.mm-text-color-black a:visited {
	color: $black-color;
}

.mm-text-color-white,
.mm-text-color-white a,
.mm-text-color-white a:visited {
	color: $white-color;
}

.mm-bg-color-light {
	background-color: $light-color;
}

.mm-bg-color-medium {
	background-color: $medium-color;
}

.mm-bg-color-dark {
	background-color: $dark-color;
}

.mm-bg-color-black {
	background-color: $black-color;
}

.mm-bg-color-white {
	background-color: $white-color;
}

.mm-full-window-height {
	height: 100vh;
}

/* Individual Component Styles
---------------------------------------------------------------------------------------------------- */

/* Button
--------------------------------------------- */

/* Default Styles */
a.mm-button {
	display: inline-block;
	padding: 15px 25px;
	border-bottom: none;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	@include button-color($default-color);
	&:hover {
		text-decoration: none;
	}
}

/* Border Weight */
a.mm-button {
	&.ghost,
	&.solid-to-ghost {
		&.thin {
			border: $thin-border;
		}
		&.default {
			border: $default-border;
		}
		&.thick {
			border: $thick-border;
		}
	}
}

/* Corner Styles */
a.mm-button {
	&.rounded {
		border-radius: 5px;
	}
	&.pill {
		border-radius: 50px;
	}
}

/* Button Styles & Colors */
a.mm-button {
	&.solid-to-ghost {
		@include solid-to-ghost-button-color($default-color);
	}
	&.gradient {
		@include gradient-button-color($default-color);
	}
	&.three-d {
		@include three-d-button-color($default-color);
	}
	&.light {
		@include button-color($light-color);
		&.solid-to-ghost{
			@include solid-to-ghost-button-color($light-color);
		}
		&.three-d {
			@include three-d-button-color($light-color);
		}
		&.gradient {
			@include gradient-button-color($light-color);
		}
	}
	&.medium {
		@include button-color($medium-color);
		&.solid-to-ghost {
			@include solid-to-ghost-button-color($medium-color);
		}
		&.three-d {
			@include three-d-button-color($medium-color);
		}
		&.gradient {
			@include gradient-button-color($medium-color);
		}
	}
	&.dark {
		@include button-color($dark-color);
		&.solid-to-ghost {
			@include solid-to-ghost-button-color($dark-color);
		}
		&.three-d {
			@include three-d-button-color($dark-color);
		}
		&.gradient {
			@include gradient-button-color($dark-color);
		}
	}
}

a.mm-button.ghost {
	&.thin,
	&.default,
	&.thick {
		background-color: transparent !important;
		color: $default-color !important;
		&:hover {
			@include ghost-button-hover-color($default-color);
		}
		&.light {
			color: $light-color !important;
			&:hover {
				@include ghost-button-hover-color($light-color);
			}
		}
		&.medium {
			color: $medium-color !important;
			&:hover {
				@include ghost-button-hover-color($medium-color);
			}
		}
		&.dark {
			color: $dark-color !important;
			&:hover {
				@include ghost-button-hover-color($dark-color);
			}
		}
	}
}

/* Button Size */
a.mm-button {
	&.small {
		padding: 10px 20px;
		font-size: 1em * 0.8;
	}
	&.large {
		padding: 20px 30px;
		font-size: 1em * 1.25;
	}
}

/* Full Width */
a.mm-button {
	&.full-width {
		display: block;
	}
}

/* Countdown
--------------------------------------------- */

.mm-countdown {
	text-align: center;
	.unit {
		display: inline-block;
		margin-right: 1em;
		margin-bottom: 0;
		text-align: center;
	}
	&:last-child {
		@media (min-width: 350px) {
			margin-right: 0;
		}
	}
	.label {
		display: block;
	}
	.count {
		display: block;
		font: {
			size: 30px;
			weight: bold;
		}
	}
}

/* Expandable Content
--------------------------------------------- */

.mm-expandable-content-trigger:hover {
	cursor: pointer;
}

.mm-expandable-content-target {
	display: none;
}

/* Icon Box
--------------------------------------------- */

.mm-icon-box {
	position: relative;
	margin-top: 5em;
	padding: 3.6em 20px 20px 20px;
	border: 1px solid $default-color;
	&.icon-size-normal {
		font-size: 16px;
		padding-top: 3.6em;
		.mm-icon {
			font-size: 3.6em;
		}
	}
	&.icon-size-large {
		font-size: 19px;
		padding-top: 4.5em;
		.mm-icon {
			font-size: 4.2em;
		}
		.icon-box-content p:last-child {
			margin-bottom: 0.6em;
		}
	}
	&.icon-size-small {
		font-size: 14px;
		padding-top: 3.2em;
		.mm-icon {
			font-size: 3.2em;
		}
	}
	.mm-icon {
		position: absolute;
		top: -1em;
		left: 50%;
		width: 2em;
		height: 2em;
		margin-left: -1em;
		background-color: #fff;
		border: 1px solid $default-color;
		border-radius: 100%;
		text-align: center;
		line-height: 2em;
	}
	.icon-box-content p:last-child {
		margin-bottom: 0;
	}
}

/* Logo Strip
--------------------------------------------- */

.mm-logo-strip {
	text-align: center;
	box-sizing: border-box;
	.mm-logo-strip-heading {
		margin-bottom: 5px;
	}
	.logo {
		display: inline-block;
		padding: 10px;
		max-width: 50%;
	}
	img {
		display: block;
	}
}

@media ( min-width: 480px ) {

	.mm-logo-strip .logo {
		padding: 10px 15px;
		max-width: 180px;
	}
}

/* Hero Banner
--------------------------------------------- */

.mm-hero-banner {
	position: relative;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-size: cover;
	.hero-overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0;
	}
	.hero-content-wrap {
		display: inline-block;
		position: relative;
		overflow: hidden;
		width: 100%;
		max-width: 580px;
		padding: 20px;
		opacity: 0;
		transition: opacity 0.2s;
		&.mm-vc-complete {
			opacity: 1;
		}
	}
	.hero-heading {
		margin-top: 0;
		margin-bottom: 10px;
		line-height: 1.2;
	}
	.hero-content {
		margin-bottom: 24px;
	}
	.hero-secondary-content {
		margin-top: 20px;
		margin-bottom: 0;
		p:last-child {
			margin-bottom: 0;
		}
	}
}

@media (min-width: 768px) {
	.mm-hero-banner {
		padding-left: 6%;
		padding-right: 6%;
	}
}

.wpview-type-mm_hero_banner .mm-hero-banner .hero-content-wrap {
	opacity: 1;
}

/* Posts
--------------------------------------------- */

.mm-posts {
	.entry-image {
		max-width: 150px;
		float: left;
		margin: 0 15px 12px 0;
		a {
			display: block;
			opacity: 1;
			transition: opacity 0.2s;
			&:hover {
				opacity: 0.85;
			}
			img {
				display: block;
			}
		}
	}
	.entry-meta-wrap {
		clear: both;
	}
	.pagination-wrap {
		clear: both;
		width: 100%;
		&::after {
			@include clearfix;
		}
		.pagination-link {
			padding: 4px 10px;
			display: inline-block;
			margin: 0 2px;
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
			&.prev {
				float: left;
			}
			&.next {
				float: right;
			}
		}
		span {
			display: inline-block;
			margin: 0 6px;
		}
	}
}

/* Posts Templates
--------------------------------------------- */

/* Simple List */

.mm-posts.simple-list {
	.mm-post {
		padding: 0;
		margin: 0 0 10px;
	}
	.entry-title {
		display: inline;
		font-size: 20px;
		margin-right: 5px;
	}
	p {
		display: inline;
	}
	.entry-info-wrap {
		font: {
			size: 16px;
			style: italic;
		}
	}
	.entry-comments-link,
	.post-edit-link {
		display: none;
	}
}

/* Image Grid */

.mm-posts.image-grid {
	&::after {
		content: '';
		display: table;
		clear: both;
	}
	.mm-post {
		float: left;
		width: 100%;
		margin-bottom: 10px;
		padding: 0;
		position: relative;
		@media (min-width: 768px) {
			width: 49%;
			margin: {
				right: 2%;
				bottom: 0;
			}
			&:nth-child(2n) {
				margin-right: 0;
			}
		}
	}
	.entry-image {
		width: 100%;
		max-width: 100%;
		margin-bottom: 10px;
		margin-right: 0;
	}
	.entry-title {
		line-height: 1.2;
		font-size: 20px;
		float: left;
		@media (min-width: 480px) {
			font-size: 24px;
		}
	}
	&.titles-inside {
		.mm-post {
			margin-bottom: 0;
		}
		.entry-image {
			margin-bottom: 18px;
		}
	}
}

.mm-posts.image-grid.titles-inside .entry-title,
.mm-posts.image-grid.titles-inside.mm-masonry .entry-title {
	position: absolute;
	bottom: 0;
	margin-bottom: 18px;
	padding: 16px 10px;
	pointer-events: none;
	text-shadow: 0px 1px 0px #000, 0px 1px 2px rgba(0,0,0,0.7);
}

.mm-posts.image-grid.titles-inside .entry-title a {
	color: #fff;
}

.mm-posts.image-grid.titles-inside.no-gutter.mm-masonry .entry-title {
	margin-bottom: 0;
}

.mm-posts.image-grid.no-gutter .mm-post,
.mm-posts.image-grid.no-gutter .entry-image {
	margin: 0;
	padding: 0;
}

.mm-posts.image-grid.no-gutter .entry-title,
.mm-posts.image-grid.mm-masonry .mm-post {
	margin: 0;
}

@media (min-width: 768px) {

	.mm-posts.image-grid.no-gutter .mm-post {
		width: 50%;
		margin: 0;
	}

	.mm-posts.image-grid.mm-masonry .mm-posts-masonry-gutter {
		width: 2%;
	}

	.mm-posts.image-grid.mm-masonry.no-gutter .mm-posts-masonry-gutter {
		width: 0%;
	}
}

/* Social Icons
--------------------------------------------- */

/* Defaults */
.mm-social-icons a {
	text-align: center;
	margin-right: 6px;
	display: inline-block;
	&:last-child {
		margin-right: 0;
	}
	i.icon {
		margin: 0;
		@include social-icon-colors($default-color);
		@include social-icon-sizes(36px);
	}
}

/* Styles */
.mm-social-icons {
	&.circle {
		@include social-icons-with-backgrounds;
		&.ghost {
			@include social-icons-with-ghost;
		}
		a i.icon {
			border-radius: 100%;
		}
	}
	&.square {
		@include social-icons-with-backgrounds;
		&.ghost {
			@include social-icons-with-ghost;
		}
	}
	&.rounded-square {
		@include social-icons-with-backgrounds;
		&.ghost {
			@include social-icons-with-ghost;
		}
		a i.icon {
			border-radius: 5px;
		}
	}
}

/* Colors */
.mm-social-icons {
	&.light {
		a i.icon {
			@include social-icon-colors($light-color);
		}
	}
	&.medium {
		a i.icon {
			@include social-icon-colors($medium-color);
		}
	}
	&.dark {
		a i.icon {
			@include social-icon-colors($dark-color);
		}
	}
	&.brand-colors {
		a i.icon {
			&.fa-facebook {
				@include social-icon-colors($facebook-color);
			}
			&.fa-twitter {
				@include social-icon-colors($twitter-color);
			}
			&.fa-youtube {
				@include social-icon-colors($youtube-color);
			}
			&.fa-google-plus {
				@include social-icon-colors($google-plus-color);
			}
			&.fa-instagram {
				@include social-icon-colors($instagram-color);
			}
			&.fa-pinterest {
				@include social-icon-colors($pinterest-color);
			}
			&.fa-linkedin {
				@include social-icon-colors($linkedin-color);
			}
			&.fa-vine {
				@include social-icon-colors($vine-color);
			}
			&.fa-flickr {
				@include social-icon-colors($flickr-color);
			}
			&.fa-vimeo {
				@include social-icon-colors($vimeo-color);
			}
		}
	}
}

/* Sizes */
.mm-social-icons {
	&.small {
		a i.icon {
			@include social-icon-sizes(24px);
		}
	}
	&.large {
		a i.icon {
			@include social-icon-sizes(48px);
		}
	}
}

/* Images */
.mm-social-icons {
	&.mm-image-align-left {
		float: left;
	}
	&.mm-image-align-center {
		text-align: center;
		margin: 0 auto;
	}
	&.mm-image-align-right {
		float: right;
	}
}
.mm-social-icons {
	a img {
		display: block;
	}
	a:hover {
		opacity: 0.85;
		transition: opacity 0.2s;
	}
	&.normal-size {
		a img {
			@include social-image-sizes(36px);
		}
	}
	&.small {
		a img {
			@include social-image-sizes(24px);
		}
	}
	&.large {
		a img {
			@include social-image-sizes(48px);
		}
	}
}

/* Users
--------------------------------------------- */

.mm-users {
	.pagination-wrap {
		clear: both;
		width: 100%;
		&::after {
			@include clearfix;
		}
		.pagination-link {
			padding: 4px 10px;
			display: inline-block;
			margin: 0 2px;
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
			&.prev {
				float: left;
			}
			&.next {
				float: right;
			}
		}
		span {
			display: inline-block;
			margin: 0 6px;
		}
	}
}
