/**
 * Component Styles.
 *
 * @since 1.0.0
 *
 * @package mm-components
 */

/* Reusables
---------------------------------------------------------------------------------------------------- */

/* Variables
--------------------------------------------- */

$default-color: #99CCCC;
$light-color: #999;
$medium-color: #666;
$dark-color: #333;

$thin-border: 1px solid;
$thick-border: 2px solid;

/* Mixins
--------------------------------------------- */

@mixin clearfix {
	content: '';
	display: table;
	width: 100%;
}

@mixin button-color ($color) {
	background-color: $color;
	color: #fff !important;
	&:hover {
		background-color: darken($color, 20%);
	}
}

@mixin solid-to-ghost-button-color ($color) {
	border-color: $color !important;
	&:hover {
		background-color: transparent;
		color: $color !important;
	}
}

@mixin ghost-button-hover-color ($color) {
	background-color: $color !important;
	border-color: $color;
	color: #fff !important;
}

@mixin three-d-button-color ($color) {
	box-shadow: 0 4px 0 0 darken($color, 20%);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	&:hover {
		background-color: darken($color, 10%);
		box-shadow: 0 3px 0 0 darken($color, 20%);
		transform: translate(0, 1px);
	}
	&:active {
		box-shadow: 0 0 0 0 darken($color, 20%);
		transform: translate(0, 4px);
	}
}

@mixin gradient-button-color ($color) {
	background-image: linear-gradient($color 0%, darken($color, 20%) 100%);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	&:hover {
		background: darken($color, 20%);
	}
}

@mixin social-icon-colors ($color) {
	background-color: $color;
	color: #fff;
	&:hover {
		background-color: darken($default-color, 20%);
	}
}

/* Global Styles
---------------------------------------------------------------------------------------------------- */

.mm-text-align-left {
	text-align: left;
}

.mm-text-align-center {
	text-align: center;
}

.mm-text-align-justify {
	text-align: justify;
}

.mm-text-align-right {
	text-align: right;
}

.mm-text-transform-uppercase {
	text-transform: uppercase;
}

.mm-text-transform-lowercase {
	text-transform: lowercase;
}

.mm-text-transform-capitalize {
	text-transform: capitalize;
}

.mm-text-color-light {
	color: $light-color;
}

.mm-text-color-medium {
	color: $medium-color;
}

.mm-text-color-dark {
	color: $dark-color;
}

.mm-bg-color-light {
	background-color: $light-color;
}

.mm-bg-color-medium {
	background-color: $medium-color;
}

.mm-bg-color-dark {
	background-color: $dark-color;
}

/* Individual Component Styles
---------------------------------------------------------------------------------------------------- */

/* Button
--------------------------------------------- */

/* Default Styles */
a.mm-button {
	display: inline-block;
	padding: 15px 25px;
	border-bottom: none;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	@include button-color ($default-color);
	&:hover {
		text-decoration: none;
	}
}

/* Border Weight */
a.mm-button {
	&.ghost,
	&.solid-to-ghost {
		&.thin {
			border: $thin-border;
		}
		&.thick {
			border: $thick-border;
		}
	}
}

/* Corner Styles */
a.mm-button {
	&.rounded {
		border-radius: 5px;
	}
	&.pill {
		border-radius: 50px;
	}
}

/* Button Styles & Colors */
a.mm-button {
	&.solid-to-ghost {
		@include solid-to-ghost-button-color ($default-color);
	}
	&.gradient {
		@include gradient-button-color ($default-color);
	}
	&.three-d {
		@include three-d-button-color ($default-color);
	}
	&.light {
		@include button-color ($light-color);
		&.solid-to-ghost{
			@include solid-to-ghost-button-color ($light-color);
		}
		&.three-d {
			@include three-d-button-color ($light-color);
		}
		&.gradient {
			@include gradient-button-color ($light-color);
		}
	}
	&.medium {
		@include button-color ($medium-color);
		&.solid-to-ghost {
			@include solid-to-ghost-button-color ($medium-color);
		}
		&.three-d {
			@include three-d-button-color ($medium-color);
		}
		&.gradient {
			@include gradient-button-color ($medium-color);
		}
	}
	&.dark {
		@include button-color ($dark-color);
		&.solid-to-ghost {
			@include solid-to-ghost-button-color ($dark-color);
		}
		&.three-d {
			@include three-d-button-color ($dark-color);
		}
		&.gradient {
			@include gradient-button-color ($dark-color);
		}
	}
}

a.mm-button.ghost {
	&.thin,
	&.thick {
		background-color: transparent !important;
		color: $default-color !important;
		&:hover {
			@include ghost-button-hover-color($default-color);
		}
		&.light {
			color: $light-color !important;
			&:hover {
				@include ghost-button-hover-color($light-color);
			}
		}
		&.medium {
			color: $medium-color !important;
			&:hover {
				@include ghost-button-hover-color($medium-color);
			}
		}
		&.dark {
			color: $dark-color !important;
			&:hover {
				@include ghost-button-hover-color($dark-color);
			}
		}
	}
}

/* Button Size */
a.mm-button {
	&.small {
		padding: 10px 20px;
		font-size: 1em * 0.8;
	}
	&.large {
		padding: 20px 30px;
		font-size: 1em * 1.25;
	}
}

/* Full Width */
a.mm-button {
	&.full-width {
		display: block;
	}
}

/* Countdown
--------------------------------------------- */

.mm-countdown {
	text-align: center;
	.unit {
		display: inline-block;
		margin-right: 1em;
		margin-bottom: 0;
		text-align: center;
	}
	&:last-child {
		@media (min-width: 350px) {
			margin-right: 0;
		}
	}
	.label {
		display: block;
	}
	.count {
		display: block;
		font: {
			size: 30px;
			weight: bold;
		}
	}
}

/* Expandable Content
--------------------------------------------- */

.mm-expandable-content-trigger:hover {
	cursor: pointer;
}

.mm-expandable-content-target {
	display: none;
}

/* Icon Box
--------------------------------------------- */

.mm-icon-box {
	position: relative;
	margin-top: 5em;
	padding: 6em 20px 20px 20px;
	border: 1px solid #d6dfe8;
	.mm-icon {
		position: absolute;
		top: -1em;
		left: 50%;
		width: 2em;
		height: 2em;
		margin-left: -1em;
		background-color: #fff;
		border: 1px solid #d6dfe8;
		border-radius: 100%;
		font-size: 4.2em;
		text-align: center;
		line-height: 2em;
	}
}

/* Image Grid
--------------------------------------------- */

.mm-image-grid {
	overflow: hidden;
}

.mm-image-grid.max-in-row-1 .mm-image-grid-image {
	width: 100%;
}

.mm-image-grid.max-in-row-2 .mm-image-grid-image {
	width: 50%;
}

.mm-image-grid.max-in-row-3 .mm-image-grid-image {
	width: 33.33%;
}

.mm-image-grid.max-in-row-4 .mm-image-grid-image {
	width: 25%;
}

.mm-image-grid.max-in-row-5 .mm-image-grid-image {
	width: 20%;
}

.mm-image-grid.max-in-row-6 .mm-image-grid-image {
	width: 16.65%;
}

.mm-image-grid-image {
	text-align: center;
	float: left;
	a,
	img {
		display: block;
	}
	.caption {
		margin-top: 10px;
	}
}

/* Logo Strip
--------------------------------------------- */

.mm-logo-strip {
	text-align: center;
	.logo {
		display: inline-block;
		padding: 0 15px 15px;
		img {
			display: block;
		}
	}
}

/* Posts
--------------------------------------------- */

.mm-posts {
	.entry-image {
		max-width: 150px;
		float: left;
		margin: 0 15px 12px 0;
		a {
			display: block;
			opacity: 1;
			transition: opacity 0.2s;
			&:hover {
				opacity: 0.85;
			}
			img {
				display: block;
			}
		}
	}
	.entry-meta-wrap {
		clear: both;
	}
	.pagination-wrap {
		clear: both;
		width: 100%;
		&::after {
			@include clearfix;
		}
		.pagination-link {
			padding: 4px 10px;
			display: inline-block;
			margin: 0 2px;
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
			&.prev {
				float: left;
			}
			&.next {
				float: right;
			}
		}
		span {
			display: inline-block;
			margin: 0 6px;
		}
	}
}

/* Posts Templates
--------------------------------------------- */

/* Simple List */

.mm-posts.simple-list {
	.mm-post {
		padding: 0;
		margin: 0 0 10px;
	}
	.entry-title {
		display: inline;
		font-size: 20px;
		margin-right: 5px;
	}
	p {
		display: inline;
	}
	.entry-info-wrap {
		font: {
			size: 16px;
			style: italic;
		}
	}
	.entry-comments-link,
	.post-edit-link {
		display: none;
	}
}

/* Image Grid */

.mm-posts.image-grid {
	&::after {
		content: '';
		display: table;
		clear: both;
	}
	.mm-post {
		float: left;
		width: 100%;
		margin-bottom: 10px;
		padding: 0;
		position: relative;
		@media (min-width: 768px) {
			width: 49%;
			margin: {
				right: 2%;
				bottom: 0;
			}
			&:nth-child(2n) {
				margin-right: 0;
			}
		}
	}
	.entry-image {
		width: 100%;
		max-width: 100%;
		margin-bottom: 10px;
		margin-right: 0;
	}
	.entry-title {
		line-height: 1.2;
		font-size: 20px;
		float: left;
		@media (min-width: 480px) {
			font-size: 24px;
		}
	}
	&.titles-inside {
		.mm-post {
			margin-bottom: 0;
		}
		.entry-image {
			margin-bottom: 18px;
		}
	}
}

.mm-posts.image-grid.titles-inside .entry-title,
.mm-posts.image-grid.titles-inside.mm-masonry .entry-title {
	position: absolute;
	bottom: 0;
	margin-bottom: 18px;
	padding: 16px 10px;
	pointer-events: none;
	text-shadow: 0px 1px 0px #000, 0px 1px 2px rgba(0,0,0,0.7);
}

.mm-posts.image-grid.titles-inside .entry-title a {
	color: #fff;
}

.mm-posts.image-grid.titles-inside.no-gutter.mm-masonry .entry-title {
	margin-bottom: 0;
}

.mm-posts.image-grid.no-gutter .mm-post,
.mm-posts.image-grid.no-gutter .entry-image {
	margin: 0;
	padding: 0;
}

.mm-posts.image-grid.no-gutter .entry-title,
.mm-posts.image-grid.mm-masonry .mm-post {
	margin: 0;
}

@media (min-width: 768px) {

	.mm-posts.image-grid.no-gutter .mm-post {
		width: 50%;
		margin: 0;
	}

	.mm-posts.image-grid.mm-masonry .mm-posts-masonry-gutter {
		width: 2%;
	}

	.mm-posts.image-grid.mm-masonry.no-gutter .mm-posts-masonry-gutter {
		width: 0%;
	}
}

/* Social Icons
--------------------------------------------- */

/* Defaults */
.mm-social-icons a {
	color: $default-color !important;
	font-size: 36px;
	text-align: center;
	&:hover {
		color: $default-color !important;
	}
	i.icon {
		width: 36px;
		height: 36px;
		line-height: 36px;
	}
}

/* Styles */
.mm-social-icons a i.icon {
	&.circle {
		font-size: 24px;
		border-radius: 50px;
		@include social-icon-colors($default-color);
	}
	&.square {
		font-size: 24px;
		@include social-icon-colors($default-color);
	}
	&.rounded-square {
		font-size: 24px;
		border-radius: 5px;
		@include social-icon-colors($default-color);
	}
}

