/**
 * Mm Components Admin CSS
 *
 * @since  1.0.0
 */


// Mixins
@mixin clearfix {
	content: '';
	display: table;
	width: 100%;
}

@mixin media-wrap {
	display: none;
	border: 1px solid #eee;
	line-height: 20px;
	text-align: center;
	padding: 12px;
	margin-bottom: 10px;
	cursor: pointer;
	transition: border-color 0.3s;
}

/* Widget fields
---------------------------------------------------------------------------------------------------- */

/* Single media upload field
--------------------------------------------- */

.mm-single-media-wrap {
	display: block;
	.mm-single-media-image-preview-wrap {
		max-width: 100%;
		padding: 0;
		display: block;
		&.no-image {
			.mm-single-media-image-preview {
				display: none;
			}
			.mm-single-media-no-image {
				display: block;
			}
		}
	}
	.mm-single-media-no-image {
		@include media-wrap;
		&:hover {
			border-color: #999;
		}
	}
}

/* Multi media upload field
--------------------------------------------- */

.mm-multi-media-wrap {
	display: block;
	&::after {
		@include clearfix;
	}
	.mm-multi-media-images-preview-wrap {
		max-width: 100%;
		padding: 0;
		display: block;
		&::after {
			@include clearfix;
		}
		&.no-images {
			.multi-media-images-preview {
				display: none;
			}
			.mm-multi-media-no-images {
				display: block;
			}
		}
	}
	.mm-multi-media-no-images {
		@include media-wrap;
		&:hover {
			border-color: #999;
		}
	}
	.mm-multi-media-images-preview {
		display: block;
		max-width: 100%;
		width: 49%;
		margin-right: 2%;
		float: left;
		height: auto;
		cursor: pointer;
		transition: all 0.3s;
		margin-bottom: 10px;
		border-radius: 2px;
		border: 0;
		&:hover {
			border-color: #999;
		}
		&:nth-child(2n+1) {
			margin-right: 0;
		}
	}
}
